
*{
    padding:0;
    box-sizing: border-box;  
    
    
}

body {

    margin: 0 auto;
    border-bottom-color: #4aaaa5;
    background-image: url(assets/images/hexellence.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position:viewport;
    
}

 .header {
    overflow:hidden;
    padding: 10px;
    width: 1300px;
    background-color: white;
    border-bottom:solid #ccc;
    position:viewport;
    
}

 .name{
    
    width: 200px;
    height:80px;
    background-color: #4aaaa5;
    box-shadow: 2px 5px 10px teal;
    margin:20px 300px -55px 200px;
    padding-top:5px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 17px;
    z-index:2;
    color:white;
    word-wrap: break-word;
    position:viewport;

}
    
.navigation{
     
    height:50px;
    float:right;
    margin-left:800px;
    color:#ccc;
    position: viewport;
    overflow:hidden;
}

.navigation ul li{
   list-style-type:none;
   width: 135px;
   float:right;
   color: #ccc;
   border-right: 1px solid #ccc;
   text-align: center;
   position: viewport;
   }

ul li a {
    text-decoration: none;
    color: #ccc;
    line-height: 40px;
    display:block;
    position:viewport;
   
}  
    
li a:hover{
    background-color: #4aaaa5;
    color: black;
    position:viewport;
}

.H{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 32px;
    padding-top:15px;
    padding-bottom:15px;
    margin-left:200px;
    position: viewport;

}

HR {
    border:solid 1px #ccc;
    position:viewport;
    
}
.wrapper{
    display: block;
    width: 960px;
    background-color:white;
    margin-left:200px;
    margin-bottom:60px;
    margin-top:20px;
    background-size: cover;
    background-position: center;
    padding-bottom:100px;
    padding:15px 15px 100px 45px;
    align-content: center;
    border-color: #777777 5px;
    position:viewport;
    
}
.wrapper p{
    color:#777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position:viewport;
}
.wrapper input[type=text],
.wrapper input[type=Email],
textarea{
    width: 900px;
    margin-bottom:10px;
    padding:10px;
    position:viewport;
}
.wrapper a{
    text-decoration: none;
    background: #4aaaa5;
    box-shadow: 2px 5px 10px teal;
    width: 80px;
    color: white;
    display:block;
    padding:10px 10px;
    text-align:center;
    font-size:15px;
    position:viewport;
}
.wrapper .comment{
    display:block;
    width: 202px;
    height: 50px;
    background-color: #4aaaa5;
    color: white;
    z-index: inherit 0  ;
    text-align: center;
    padding-top: 18px;
    margin-top:140px;
    position: absolute;
}
   
.box{
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    margin:25px;
    padding:10px;
    position:viewport;
}
   
img{
    float:left;
    margin-top:10px;
    margin-right:10px;
    margin-bottom:10px;
    border:solid 1px;
    border-color:#4aaaa5;
    box-shadow: 2px 5px 10px #666666;
    position:viewport;
    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #666666;
    font-size: 100%;
    border-top: 5px solid #4aaaa5;
    padding-top: 10px;
    padding-bottom:10px;
  }

  
  @media screen and (max-width: 960px) {}

  @media screen and (max-width: 768px) {}
  
  @media screen and (max-width: 640px) {
    .header {
      position:fixed;
    }
  }



   
  
   

 

  

  


  
